---
import Eyebrow from "@components/shared/Eyebrow.astro";
import { linkifyOwnEmails } from "@lib/linkifyOwnEmails";
import { parseAccent } from "@lib/parseAccent";

interface Props {
  title: string;
  eyebrow?: string | null;
  subtitle?: string | null;
  size?: "sm" | "md";
  class?: string;
}

const { title, eyebrow, subtitle, size = "md", class: cls } = Astro.props;

const hasExtras = !!eyebrow || !!subtitle;
const titleParts = parseAccent(title);

const mb = size === "sm" ? "mb-section-xs md:mb-8" : "mb-section-xs";
const subtitleHtml = subtitle
  ? linkifyOwnEmails(subtitle, new URL(Astro.site!).hostname)
  : null;
---

<!-- const titleClass = size === "sm" ? "text-title-sm" : "text-title"; -->{
  hasExtras ? (
    <hgroup class:list={[mb, cls]}>
      {eyebrow && <Eyebrow>{eyebrow}</Eyebrow>}
      {/* <HeadingTag class={titleClass}> */}
      <h2 class="text-title">
        {titleParts.map((p) =>
          p.accent ? <span class="accent">{p.text}</span> : p.text,
        )}
      </h2>
      {subtitleHtml && (
        <p class="text-lg text-balance" set:html={subtitleHtml} />
      )}
    </hgroup>
  ) : (
    <h2 class:list={["text-title", mb, cls]}>
      {titleParts.map((p) =>
        p.accent ? <span class="accent">{p.text}</span> : p.text,
      )}
    </h2>
  )
}
