---
import Base from "@layouts/Base.astro";
import PortableText from "@components/ui/PortableText.astro";
import PageHeading from "@components/ui/PageHeading.astro";
import { DEFAULT_LOCALE } from "@i18n/config";
import type { Locale } from "@i18n/config";
import type { LegalPageData } from "@lib/types";

interface Props {
  page: LegalPageData;
  lang?: Locale;
}

const { page, lang = DEFAULT_LOCALE } = Astro.props;
---

<Base title={page.metaTitle} description={page.metaDescription} {lang}>
  <article class="section *:max-w-200 lg:pt-section-sm">
    <PageHeading title={page.title} />

    <div class="prose">
      {page?.body && <PortableText body={page.body} />}
    </div>
  </article>
</Base>
