---
import { stripAccent } from "@lib/parseAccent";

interface Props {
  title: string;
  description?: string | null;
  href: string;
  level?: 2 | 3 | 4;
  size?: "sm" | "md" | "lg";
  class?: string;
}

const {
  title,
  description,
  href,
  level = 2,
  size = "md",
  class: cls,
} = Astro.props;
const HeadingTag = `h${level}` as "h2" | "h3" | "h4";

const sizeClass = {
  sm: "text-title-xxs",
  md: "text-title-xs",
  lg: "text-title-sm",
}[size];

const headingClasses = [sizeClass, "text-pretty", cls];
const linkClasses = "card-link transition-colors hover:text-brand";
---

{
  description ? (
    <hgroup>
      <HeadingTag class:list={headingClasses}>
        <a href={href} class={linkClasses}>
          {stripAccent(title)}
        </a>
      </HeadingTag>
      <p class="leading-relaxed">{description}</p>
    </hgroup>
  ) : (
    <HeadingTag class:list={headingClasses}>
      <a href={href} class={linkClasses}>
        {stripAccent(title)}
      </a>
    </HeadingTag>
  )
}
